<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>No results found</title>
<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css"/>
</head>
<body>
	<div class="spinner-border text-danger" style="width: 2rem; height: 2rem;" role="status">
        <span class="visually-hidden"></span>
    </div>
    <strong style="font-size: 20px;">Going back to SimpleStock.kro.kr</strong>
	<script>
		alert("존재하지 않거나 정보가 불충분한 종목입니다.");
		window.location.replace(history.back());
		// window.location.replace("http://localhost:5000/main");
	</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>